@import "../../../../styles-variables";

.b-vehicle__image {
  border: 4px solid $color-secondary;
  border-radius: 1rem;
}

.b-vehicle__title {
  color: $color-secondary;
}

.b-vehicle--detail {
  min-height: 600px;
}

p {
  margin: 5px 0;
}
