/* You can add global styles to this file, and also import other style files */

//@import "";

body {
  background-color: #f5f6f7;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}
