/* You can add global styles to this file, and also import other style files */

//@import "";

body {
  background-color: #f5f6f7;
}

.b-component {
  padding: 32px 32px 30px 32px;
  position: relative;
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  transition: all .3s ease-in-out;

  &:hover {
    //transform: translateY(-10px);
    //box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    //box-shadow: 0 0 2rem rgba(0,0,255,.1);
  }
}

@media(max-width: 767px) {
  .b-component {
    margin: 20px;
  }
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}
